
  <div>
    <% @trips.each do |trip| %>

      <div class="card mx-auto text-center index" style = "width: 40vw;">
        <% if trip.image_url%>
          
            <%= image_tag trip.image_url, class:"card-img-top" %>
          
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= trip.name %></h5>
          <p class="card-text"><%= trip.destination %></p>
          <p><%= trip.departure_date.strftime("%B, %d, %Y") %> to <%=trip.return_date.strftime("%B, %d, %Y")%></p>
          <%= link_to 'View', trip_path(trip) %>
        </div>
      </div>
    <% end %>
  </div>



