<header class = 'sign_in_header'>
<h1> Welcome to Roam </h1>
<br>
<h5>Let's get you signed in.</h5>
</header>

<div class = 'sign_in_form'>
      <%= form_with url: session_path do |form| %>

      <form>
            
            <div class="mb-3">
                  <%= form.label :email %>
                  <br>
                  <%= form.text_field :email %>
            </div>

            <div class="mb-3">
                   <%= form.label :password %>
                  <br>
                  <%= form.password_field :password %>
            </div>

            <br>
  
   
      <%= form.submit "Sign In", class: "btn btn-dark" %>
   

      </form>
  
      <% end %>
</div>

<div class = 'sign_up_link'>
<h5> New around here?</h5>
<br>
<%= link_to 'Create an Account', new_user_path, class: "btn btn-dark" %>
</div>
  