    <div><h1 ><%= @todo_list.description%></h1></div>
     <%#= link_to 'Edit', edit_trip_todo_list_path(@trip, @todo_list), class:"btn btn-outline-primary" %>
     <%= button_to 'Delete', trip_todo_list_path(@trip, @todo_list), method: :delete, form: {data: {turbo_confirm: "Are you sure you would like to proceed?"}}, class:"btn btn-outline-danger" %>
   </div>


<h4> To Do Items </h4>

<% if @todo_item.errors.any? %>
   <ul>
     <% @todo_item.errors.full_messages.each do |message| %>

     <li> <%= message %> </li>

      <% end %>

    </ul>

 <% end %>

 <%= form_with(model: [@trip, @todo_list, @todo_item]) do |form| %>
 
   <div>

        <% form.label :description%>
        
        <%= form.text_area :description, placeholder: "Add item", cols: 50, rows: 5%> 
        <br>
        <br>
        <%= form.submit "Submit", class:"btn btn-outline-primary" %>

   </div>
 <% end %>

<br>

<div>

<br>

<div>
<% @todo_items.each do |todo_item| %>

<div>
    <%= todo_item.description %> 
    
    <%= button_to 'Delete', todo_item_path(@todo_list, @todo_item), method: :delete, form: {data: {turbo_confirm: "Are you sure you would like to proceed?"}}, class:"btn btn-outline-danger" %>
</div>
<br>

<% end %>
</div>

 