<%= stylesheet_link_tag "show_page", "data-turbo-track": "reload" %>
<body style = "background-image: url(<%= @accommodation.trip.image_url%>)" class = 'background-image'>

<div class = 'container text-center'>
  <div class="row">
    <div class="card-title"><h4 ><%= @accommodation.name %></h4></div>
    <p class="card-subtitle"><%= @accommodation.address %></p>
    <div class="card-text mb-2 text-muted"><h5>Check In</h5></div>
    <p class="card-text"><%= @accommodation.check_in_date%> at <%= @accommodation.check_in_time%> </p>
    <div class="card-text mb-2 text-muted"><h5>Check Out</h5></div>
    <p class="card-text"><%= @accommodation.check_out_date%> at <%= @accommodation.check_out_time%> </p>
    <div class="card-text mb-2 text-muted"><h5>Contact Information</h5></div>
     <p class="card-text">  Phone: <%= @accommodation.phone%>   Email: <%= @accommodation.email%></p>
    <div class="card-text mb-2 text-muted"><h5>Notes</h5></div>
    <p class="card-subtitle"><%= @accommodation.note %></p>
    
    
   <div >
      <%= link_to 'Manage Accommodation', edit_trip_accommodation_path(@trip, @accommodation), class:"btn btn-dark" %> 
   </div> 
 </div>
</div>